node_modules/
public/build/
public/hot/
public/storage/
storage/*.key
vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln
*.swp
Install.zip
.trash/
temp/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
staging/node_modules/
staging/vendor/
